body{
    font-family: Arial;
    background-color: lightgrey;
}

#logo{
    height: 50px;
    vertical-align: middle;
}

header{
    background-color: white;
}


.add-task{
    background-color: lightskyblue;
    color: white;
    border: 1px solid lightskyblue;
    border-radius: 5px;
}

.add-section{
    background-color: white;
    color: grey;
    border: 1px solid gray;
    border-radius: 5px;
}
.editorial{
    background-color: lightskyblue;
    border: 0;
    border-radius: 20px;
    color: white;
}

.Q1{
    background-color: mediumpurple;
    border: 0;
    border-radius: 20px;
    color: white;
}

.recruiting{
    background-color: seagreen;
    border: 0;
    border-radius: 20px;
    color: white;
}

.mobile{
    background-color: orange;
    border: 0;
    border-radius: 20px;
    color: white;
}
.website{
    background-color: mediumvioletred;
    border: 0;
    border-radius: 20px;
    color: white;
}

.sales{
    background-color: yellowgreen;
    border: 0;
    border-radius: 20px;
    color: white;
}

h1{
    display: inline-block;
}

.title{
    display: inline-block;
}

main{
    width: 80%;
    background-color: white;
    margin: 0 auto;
    padding: 20px;
    margin-top: 50px;
}

#list{
    line-height: 40px;
}